In [1]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

#Loading the dataset
print("Loading the Dataset...")
dataset = load_dataset("lukebarousse/data_jobs")
print("Dataset Loaded Successfully...")

#converting dataset to a data frame
df = dataset["train"].to_pandas()
print("Data Frame Created...")

############ Cleaning
df["job_posted_date"] = pd.to_datetime(df["job_posted_date"])
df.drop(["salary_hour_avg"], axis=1, inplace=True)
df = df[df["job_title_short"].notna()]
df = df[df["salary_year_avg"].notna()]
df["joining_month"] = df["job_posted_date"].dt.month
print("Data Cleaned...")

c:\Users\ADMIN\anaconda3\envs\pandas_prac_env\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Loading the Dataset...
Dataset Loaded Successfully...
Data Frame Created...
Data Cleaned...

In [ ]:
# Lets do one thing.. Lets create a dic with keys of each month and the values would be the data frame containing joinings of only that month..

df["job_posted_month"] = df["job_posted_date"].dt.strftime("%b")
# Get all The unique months which will be the keys of our dict later
months = df["job_posted_month"].unique().tolist()

# Now lets create the dictionary which is typically of the format: {"Jan": jan_df , "Feb": feb_df ....}

months_dict = {}
for month in months:
    if month not in months_dict:
        months_dict[month] = df[df["job_posted_month"] == month]



#  We can also do the above code in a single line using dictionary comprehnsion as follow
# simple_months_dict = {x: df[df["job_posted_month"] == x] for x in months}
# simple_months_dict

{'Aug':               job_title_short  \
 28             Data Scientist
 380             Data Engineer
 388             Data Engineer
 645          Business Analyst
 923             Data Engineer
 ...                       ...
 779855  Senior Data Scientist
 780547      Software Engineer
 780936           Data Analyst
 782220          Data Engineer
 785624          Data Engineer

                                                 job_title  \
 28                                    CRM Data Specialist
 380                               Snaplogic Data Engineer
 388                                         Data Engineer
 645                                       Lead BI Analyst
 923                                     AWS Data Engineer
 ...                                                   ...
 779855  Senior Data Scientist Data Science Strategy (1...
 780547                     Software Engineer III (Hybrid)
 780936                                  Applied Scientist
 782220                                      Data Engineer
 785624                   Data Analytics Engineer (Hybrid)

                                    job_location          job_via  \
 28      San José Province, San José, Costa Rica  via Ai-Jobs.net
 380                                  Durham, NC     via LinkedIn
 388                                 New Ulm, MN    via KSNT Jobs
 645                                  Irvine, CA     via LinkedIn
 923                                    Anywhere     via LinkedIn
 ...                                         ...              ...
 779855                              Danvers, MA      via Ladders
 780547                  Tillsonburg, ON, Canada      via Ladders
 780936                          Dublin, Ireland  via Ai-Jobs.net
 782220                         Lisbon, Portugal  via Ai-Jobs.net
 785624                          Mt Prospect, IL  via Ai-Jobs.net

        job_schedule_type  job_work_from_home            search_location  \
 28             Full-time               False                 Costa Rica
 380            Full-time               False    Illinois, United States
 388            Full-time               False     Florida, United States
 645            Full-time               False  California, United States
 923            Full-time                True  California, United States
 ...                  ...                 ...                        ...
 779855         Full-time               False    New York, United States
 780547         Full-time               False                     Canada
 780936         Full-time               False                    Ireland
 782220         Full-time               False                   Portugal
 785624         Full-time               False    Illinois, United States

            job_posted_date  job_no_degree_mention  job_health_insurance  \
 28     2023-08-01 13:37:57                  False                 False
 380    2023-08-16 13:26:21                   True                 False
 388    2023-08-20 13:32:05                  False                 False
 645    2023-08-11 13:01:18                  False                 False
 923    2023-08-09 13:05:40                  False                  True
 ...                    ...                    ...                   ...
 779855 2023-08-16 05:02:31                  False                  True
 780547 2023-08-21 05:33:47                   True                 False
 780936 2023-08-27 06:46:01                  False                 False
 782220 2023-08-19 06:31:46                  False                 False
 785624 2023-08-31 06:02:16                  False                  True

           job_country salary_rate  salary_year_avg        company_name  \
 28         Costa Rica        year         109500.0            Netskope
 380     United States        year          97500.0     KTek Resourcing
 388     United States        year          89000.0  Ledgent Technology
 645     United States        year         125000.0               KORE1
 923     United States        year         135000.0      Effectual Inc.
 ...               ...         ...              ...                 ...
 779855  United States        year         125000.0   Johnson & Johnson
 780547         Canada        year         100000.0             Danaher
 780936        Ireland        year         194500.0                Etsy
 782220       Portugal        year         147500.0            Talkdesk
 785624  United States        year         139216.0         Bosch Group

                                                job_skills  \
 28                                      ['gdpr', 'excel']
 380                                     ['sql', 'python']
 388                         ['sql', 'python', 'power bi']
 645                          ['sql', 'python', 'tableau']
 923     ['python', 'sql', 'java', 'scala', 'nosql', 'a...
 ...                                                   ...
 779855       ['r', 'python', 'sql', 'alteryx', 'tableau']
 780547  ['c#', 'html', 'css', 'sql', 'python', 'aws', ...
 780936                                   ['linux', 'git']
 782220  ['scala', 'python', 'sql', 'nosql', 'java', 'e...
 785624  ['go', 'python', 'r', 'sql', 'oracle', 'window...

                                           job_type_skills  joining_month  \
 28      {'analyst_tools': ['excel'], 'libraries': ['gd...              8
 380                    {'programming': ['sql', 'python']}              8
 388     {'analyst_tools': ['power bi'], 'programming':...              8
 645     {'analyst_tools': ['tableau'], 'programming': ...              8
 923     {'cloud': ['aws', 'azure', 'redshift', 'bigque...              8
 ...                                                   ...            ...
 779855  {'analyst_tools': ['alteryx', 'tableau'], 'pro...              8
 780547  {'analyst_tools': ['excel'], 'cloud': ['aws', ...              8
 780936                {'os': ['linux'], 'other': ['git']}              8
 782220  {'cloud': ['databricks', 'redshift', 'aws'], '...              8
 785624  {'analyst_tools': ['alteryx', 'power bi', 'tab...              8

        job_posted_month
 28                  Aug
 380                 Aug
 388                 Aug
 645                 Aug
 923                 Aug
 ...                 ...
 779855              Aug
 780547              Aug
 780936              Aug
 782220              Aug
 785624              Aug

 [2095 rows x 18 columns],
 'Jun':                   job_title_short  \
 77                  Data Engineer
 212                Data Scientist
 495          Senior Data Engineer
 762                 Data Engineer
 1042    Machine Learning Engineer
 ...                           ...
 783866               Data Analyst
 784033               Data Analyst
 784364       Senior Data Engineer
 784584             Data Scientist
 785187               Data Analyst

                                            job_title  \
 77                                     Data Engineer
 212     NATOIS-0008 Data Scientist (NS) - TUE 13 Jun
 495                  Senior Software Engineer (Data)
 762     Data Engineer, Big Data Privacy and Security
 1042                  Head of AML Operations (m/f/d)
 ...                                              ...
 783866               Lead Credit Bureau Data Analyst
 784033                      Recruitment Data Analyst
 784364                          Senior Data Engineer
 784584                                Data Scientist
 785187                                  Data Analyst

                       job_location          job_via job_schedule_type  \
 77                   Arlington, VA     via LinkedIn         Full-time
 212              Brussels, Belgium  via Ai-Jobs.net         Full-time
 495              San Francisco, CA     via LinkedIn         Full-time
 762                   San Jose, CA     via LinkedIn         Full-time
 1042             Ballerup, Denmark  via Ai-Jobs.net         Full-time
 ...                            ...              ...               ...
 783866             Des Plaines, IL      via Ladders         Full-time
 784033  Mumbai, Maharashtra, India  via Ai-Jobs.net         Full-time
 784364           San Francisco, CA  via Ai-Jobs.net         Full-time
 784584         Islamabad, Pakistan  via Ai-Jobs.net        Contractor
 785187            Lisbon, Portugal  via Ai-Jobs.net         Full-time

         job_work_from_home            search_location     job_posted_date  \
 77                   False                      Sudan 2023-06-26 14:22:54
 212                  False                    Belgium 2023-06-05 13:56:28
 495                  False    Illinois, United States 2023-06-20 13:07:37
 762                  False                      Sudan 2023-06-18 13:38:44
 1042                 False                    Denmark 2023-06-14 13:25:40
 ...                    ...                        ...                 ...
 783866               False    Illinois, United States 2023-06-02 06:02:06
 784033               False                      India 2023-06-07 06:10:15
 784364               False  California, United States 2023-06-28 06:04:17
 784584               False                   Pakistan 2023-06-07 06:17:01
 785187               False                   Portugal 2023-06-07 06:30:33

         job_no_degree_mention  job_health_insurance    job_country  \
 77                      False                 False          Sudan
 212                     False                 False        Belgium
 495                     False                  True  United States
 762                     False                  True          Sudan
 1042                    False                 False        Denmark
 ...                       ...                   ...            ...
 783866                  False                  True  United States
 784033                  False                 False          India
 784364                  False                  True  United States
 784584                  False                 False       Pakistan
 785187                  False                 False       Portugal

        salary_rate  salary_year_avg                 company_name  \
 77            year         140000.0                   Intelletec
 212           year         157500.0                    EMW, Inc.
 495           year         168500.0                     hackajob
 762           year         171000.0                       TikTok
 1042          year         105300.0                         Nets
 ...            ...              ...                          ...
 783866        year         115000.0  Discover Financial Services
 784033        year         111175.0                   Framestore
 784364        year         147500.0                       Kikoff
 784584        year         157500.0  Inbox Business Technologies
 785187        year         111175.0                     Farfetch

                                                job_skills  \
 77      ['mongodb', 'mongodb', 'python', 'r', 'sql', '...
 212     ['c', 'r', 'sql', 'python', 'aws', 'azure', 'h...
 495     ['scala', 'gcp', 'azure', 'spark', 'kafka', 'h...
 762                                    ['spark', 'kafka']
 1042                                                 None
 ...                                                   ...
 783866                                           ['unix']
 784033                            ['power bi', 'tableau']
 784364             ['nosql', 'python', 'hadoop', 'spark']
 784584                   ['sql', 'python', 'r', 'hadoop']
 785187                   ['sql', 'python', 'r', 'looker']

                                           job_type_skills  joining_month  \
 77      {'analyst_tools': ['tableau'], 'cloud': ['orac...              6
 212     {'analyst_tools': ['tableau'], 'cloud': ['aws'...              6
 495     {'cloud': ['gcp', 'azure'], 'libraries': ['spa...              6
 762                     {'libraries': ['spark', 'kafka']}              6
 1042                                                 None              6
 ...                                                   ...            ...
 783866                                   {'os': ['unix']}              6
 784033         {'analyst_tools': ['power bi', 'tableau']}              6
 784364  {'libraries': ['hadoop', 'spark'], 'programmin...              6
 784584  {'libraries': ['hadoop'], 'programming': ['sql...              6
 785187  {'analyst_tools': ['looker'], 'programming': [...              6

        job_posted_month
 77                  Jun
 212                 Jun
 495                 Jun
 762                 Jun
 1042                Jun
 ...                 ...
 783866              Jun
 784033              Jun
 784364              Jun
 784584              Jun
 785187              Jun

 [2331 rows x 18 columns],
 'Feb':                   job_title_short  \
 92                  Data Engineer
 180                  Data Analyst
 813                 Data Engineer
 982           Senior Data Analyst
 1209    Machine Learning Engineer
 ...                           ...
 779355          Software Engineer
 780757              Data Engineer
 782583          Software Engineer
 783284      Senior Data Scientist
 784053             Data Scientist

                                                 job_title  \
 92                Remote - Data Engineer - Permanent - W2
 180                                      Data Analyst III
 813                                   Azure Data Engineer
 982                                   Senior Data Analyst
 1209                      Computer Vision Developer (R&D)
 ...                                                   ...
 779355                                       BI Developer
 780757                                      Data Engineer
 782583                   Software Engineer, Data Platform
 783284                              Senior Data Scientist
 784053  Working student for Data Science Approaches in...

                        job_location                job_via job_schedule_type  \
 92                         Anywhere           via LinkedIn         Full-time
 180                   Dos Palos, CA  via My ArkLaMiss Jobs         Full-time
 813                   United States               via Dice         Full-time
 982                 Los Angeles, CA               via Dice         Full-time
 1209    Bengaluru, Karnataka, India        via Ai-Jobs.net         Full-time
 ...                             ...                    ...               ...
 779355       Amsterdam, Netherlands        via Ai-Jobs.net         Full-time
 780757                 New York, NY            via Ladders         Full-time
 782583            San Francisco, CA        via Ai-Jobs.net         Full-time
 783284                  Belfast, UK        via Ai-Jobs.net         Full-time
 784053          Reutlingen, Germany        via Ai-Jobs.net         Part-time

         job_work_from_home            search_location     job_posted_date  \
 92                    True    Illinois, United States 2023-02-21 13:29:59
 180                  False  California, United States 2023-02-27 13:00:39
 813                  False     Florida, United States 2023-02-28 13:14:02
 982                  False  California, United States 2023-02-03 13:01:29
 1209                 False                      India 2023-02-18 13:12:30
 ...                    ...                        ...                 ...
 779355               False                Netherlands 2023-02-01 05:53:01
 780757               False    Illinois, United States 2023-02-20 05:10:36
 782583               False  California, United States 2023-02-28 06:02:53
 783284               False             United Kingdom 2023-02-28 06:14:36
 784053               False                    Germany 2023-02-28 06:13:26

         job_no_degree_mention  job_health_insurance     job_country  \
 92                      False                  True   United States
 180                     False                  True   United States
 813                     False                  True   United States
 982                     False                 False   United States
 1209                    False                 False           India
 ...                       ...                   ...             ...
 779355                  False                 False     Netherlands
 780757                  False                  True   United States
 782583                  False                  True   United States
 783284                  False                 False  United Kingdom
 784053                  False                 False         Germany

        salary_rate  salary_year_avg                  company_name  \
 92            year         120000.0                  Apex Systems
 180           year          90250.0  California Health & Wellness
 813           year         157500.0                         Jobot
 982           year          85000.0                         Jobot
 1209          year          79200.0                   Bosch Group
 ...            ...              ...                           ...
 779355        year          56700.0                        Metyis
 780757        year         150000.0                       Imprint
 782583        year          99150.0                     Benchling
 783284        year         157500.0                         Axiom
 784053        year          56700.0                   Bosch Group

                                                job_skills  \
 92                                      ['sql', 'python']
 180                               ['excel', 'powerpoint']
 813     ['t-sql', 'c#', 'python', 'sql', 'azure', 'git...
 982                                        ['sas', 'sas']
 1209    ['python', 'opencv', 'tensorflow', 'pytorch', ...
 ...                                                   ...
 779355                                   ['azure', 'dax']
 780757  ['sql', 'python', 'snowflake', 'airflow', 'pys...
 782583  ['sql', 'python', 'go', 'snowflake', 'aws', 'r...
 783284  ['sql', 'r', 'python', 'aws', 'redshift', 'spa...
 784053                                         ['python']

                                           job_type_skills  joining_month  \
 92                     {'programming': ['sql', 'python']}              2
 180            {'analyst_tools': ['excel', 'powerpoint']}              2
 813     {'cloud': ['azure'], 'other': ['github'], 'pro...              2
 982     {'analyst_tools': ['sas'], 'programming': ['sa...              2
 1209    {'libraries': ['opencv', 'tensorflow', 'pytorc...              2
 ...                                                   ...            ...
 779355     {'analyst_tools': ['dax'], 'cloud': ['azure']}              2
 780757  {'cloud': ['snowflake'], 'libraries': ['airflo...              2
 782583  {'cloud': ['snowflake', 'aws', 'redshift'], 'l...              2
 783284  {'async': ['jira', 'confluence'], 'cloud': ['a...              2
 784053                        {'programming': ['python']}              2

        job_posted_month
 92                  Feb
 180                 Feb
 813                 Feb
 982                 Feb
 1209                Feb
 ...                 ...
 779355              Feb
 780757              Feb
 782583              Feb
 783284              Feb
 784053              Feb

 [2010 rows x 18 columns],
 'Jul':               job_title_short  \
 100            Data Scientist
 520          Business Analyst
 571             Data Engineer
 733      Senior Data Engineer
 993             Data Engineer
 ...                       ...
 781163   Senior Data Engineer
 783111          Data Engineer
 783436         Data Scientist
 783748          Data Engineer
 785132  Senior Data Scientist

                                                 job_title  \
 100               Data Scientist, Risk Data Mining - USDS
 520                                      Power BI Analyst

In [32]:
# Once we have our required dictionary, we can use the concat method to see the grouped data of only say jan feb and mar as follow

concated_df = pd.concat([months_dict["Jan"],months_dict["Feb"],months_dict["Mar"]])
concated_df["job_posted_month"].unique()

array(['Jan', 'Feb', 'Mar'], dtype=object)